

<ion-content id="mapId" >


  <ion-fab vertical="center" horizontal="start" *ngIf="loading">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Cargando datos, esto puede tomar unos segundos...</ion-card-subtitle>
      </ion-card-header>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-card>
  </ion-fab>


  <ion-fab vertical="top" horizontal="start" edge slot="fixed" style="margin-top: 18%; margin-left: 3.5%;">
    <ion-card *ngIf="gasMasBarata" style=" width: 300px;">
      <ion-card-header>
        <ion-card-subtitle>Mejor Precio: {{gasMasBarata.name}}</ion-card-subtitle>
        <ion-card-subtitle>Diesel: {{gasMasBarata.diesel}}€/L</ion-card-subtitle>
        <ion-card-subtitle>
          <div style="margin-top: 1%; margin-bottom: 0%;">
            <a href="{{gasMasBarata.link}}" style="font-size: 30px;">
              <ion-icon name="car-outline"></ion-icon>
            </a>

            <a (click)="openModalCheaper()" style="font-size: 30px; margin-left: 2%;">
              <ion-icon name="add-circle-outline"></ion-icon>
            </a>

            <a (click)="centerMap()" style="font-size: 30px; margin-left: 50%;">
              <ion-icon name="locate-outline"></ion-icon>
            </a>

            <a (click)="toogleFilters()" style="font-size: 30px; margin-left: 2%;">
              <ion-icon name="filter-outline"></ion-icon>
            </a>
          </div>
        </ion-card-subtitle>
        <ion-toolbar *ngIf="showFilters">
          <ion-segment value="{{labelSegment}}">
            <ion-segment-button value="all" (click)="showAll()">
              Todas
            </ion-segment-button>
            <ion-segment-button value="cheaps" (click)="showCheaper()">
              Mas baratas
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-card-header>

    </ion-card>

  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" edge slot="fixed" style="margin-bottom: 10%;">

    <ion-modal [isOpen]="isModalOpen" (swipe)="goBack()" (willDismiss)="goBack()" [initialBreakpoint]="0.5"
      [breakpoints]="[0, 0.5]">
      <ng-template>


        <ion-header>
          <ion-toolbar>
            <ion-title>{{stationSelected.name}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">


          <ion-card>
            <ion-card-header>
              <ion-card-title style="margin-bottom: 2%;">Horario: {{stationSelected.horario}}</ion-card-title>

              <ion-card-subtitle>
                <span style="font-weight: bold;">Diesel</span> - {{stationSelected.diesel == '' ? 'No disponible' :
                stationSelected.diesel + ' €/L' }}
              </ion-card-subtitle>

              <ion-card-subtitle>
                <span style="font-weight: bold;">Sin plomo</span> - {{stationSelected.gaso95 == '' ? 'No disponible' :
                stationSelected.gaso95 + ' €/L' }}
              </ion-card-subtitle>

              <ion-card-subtitle>
                <span style="font-weight: bold;">Gasolina 98</span> - {{stationSelected.gaso98 == '' ? 'No disponible' :
                stationSelected.gaso98 + ' €/L' }}
              </ion-card-subtitle>

              <ion-card-subtitle>
                <span style="font-weight: bold;">AdBlue</span> - {{stationSelected.adBlue == '' ? 'No disponible' :
                stationSelected.adBlue + ' €/L' }}
              </ion-card-subtitle>

            </ion-card-header>

            <ion-card-content>
              <ion-button style="height: 50px; width: 100px; font-size: 12px;" href="{{stationSelected.link}}">
                Como llegar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>


  </ion-fab>

</ion-content>